name: Autotest

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  auto-tests:
    name: Run Auto Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install
        run: npm ci

      - name: Unit tests
        run: npm run test