name: deploy
on:
  workflow_call:
    inputs:
      tag:
        required: true
        type: string
    secrets:
      SSH_USER:
        required: true
      SSH_HOST:
        required: true
      SSH_PRIVATE_KEY:
        required: true
      SSH_PORT:
        required: true  # порт обязателен

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with: { fetch-depth: 0 }

      - name: Deploy to remote server
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            cd .deploy
            export TAG=${{ inputs.tag }}
            docker-compose up -d
