name: test-deploy.yaml
on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy
    uses: ./.github/workflows/deploy.yaml
    with:
      tag: 1.0.0
    secrets:
      SSH_USER: ${{ secrets.SSH_USER }}
      SSH_HOST: ${{ secrets.SSH_HOST }}
      SSH_PORT: ${{ secrets.SSH_PORT }}
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
